*{
	margin:0;
	padding:0;
	font-family:"Microsoft Yahei";
}

html,
body{
	width:100%;
	height:100%;
}


/*common style start*/
div.content{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
}
div.container{
	width:100%;
	min-width:1200px;
	background-color:#fff;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}


/*common style end*/


/* nav style start*/

#nav{
	width:100%;
	height:70px;
	line-height:70px;
	background-color:#15171F;
	min-width:1200px;/*最小分辨率不低于1200px*/
}

#nav div.content{
	height:100%;
	color:#fff;
}

#nav div.content img.logo{
	float:left;
	margin-top:16px;
	margin-right:80px;
}


#nav div.content ul.menu li{
	float:left;

}

#nav div.content ul li a{
	color:#fff;
	font-size:14px;
	padding:0 20px;
	margin:0 5px;
	height:100%;
	display:block;
	position:relative;
}

#nav div.content div.msg{
	height: 100%;
    padding: 0px 20px;
    margin: 0px 5px;
    float: right;
}
#nav div.content div.msg a.email{
	width: 22px;
    height: 16px;
    display: block;
    background-image: url("../images/pe_icon.png");
    background-repeat: no-repeat;
    background-position: -368px -23px;
    margin: 26px auto;
    position: relative;
}
#nav div.content div.msg a.email em{
	width:7px;
	height:7px;
	position:absolute;
	top:-5px;
	right:-5px;
	border-radius:5px;
	border: 1px solid #fff;
	background-color:#ff0000;
}

#nav div.content ul li a:hover{
	background-color:#323744;
}
#nav div.content div.msg:hover{
	background-color:#323744;
}

#nav div.content ul.info{
	float:right;
	height: 100%;
}



#nav div.content  ul.info li a img.face{
	border-radius: 30px;
	position: relative;
    top: 10px;
}

#nav div.content form div input{
	height: 30px;
    border: 1px solid #323744;
    background-color: #323744;
    border-radius: 2px;
    margin-top: 18px;
    padding-left: 10px;
    color: #fff;
    padding-right: 35px;
}
#nav div.content form div input:hover {
    border: 1px solid #818997;
}
#nav div.content form div {
    float: right;
    margin-right: 20px;
    position: relative;
}
#nav div.content form div a {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 1px;
    top: 19px;
    background-image: url("../images/pe_icon.png");
    background-position: -365px 6px;
}
/* nav style end*/

/* banner start */

#banner{
	width:100%;
	height:375px;
	background-image:url("../images/banner.jpg");
	background-position:center;
	background-repeat:no-repeat;
	min-width:1200px;/*分辨率最低1200px*/

}
/* banner end */


/*cat start*/

div.cat{
	width:100%:
	background-color:#fff;
	height:110px;
	border-bottom: 1px solid #d9dce1;
}
div.cat div.content dl{
	width:216px;
	height:80px;
	float:left;
	margin-left:20px;
	margin-top:12px;
	border-right: 1px solid #d9dce1;
	
}
div.cat div.content dl.last{
	border-right:none;
}
div.cat div.content dl dd{
	float:left;
	margin-right:20px;
}

div.cat div.content dl dt{
	font-size:18px;
	color: #5580fb;
    font-weight: 500;
    line-height: 36px;
}
div.cat div.content dl dd a{
	color: #333;
    text-decoration: none;
    line-height: 20px;
	font-size:12px;
}
div.cat div.content dl dd a:hover{
    color: #5580fb;
}
/*cat end*/

/** course_list start**/

div.course_list{
}
div.course_list ul li{
	width:100%;
	margin-top:20px;
	float:left;
	border-bottom:1px solid #d9dce1;
}
div.course_list ul li div{
	width:222px;
	height:185px;
	margin:0 7px 20px 7px;
	float:left;
}
div.course_list ul li div.first{
	
	text-align: center;
    color: #fff;
    font-size: 14px;
}
div.course_list ul li div.first h2{
	padding-top: 50px;
    font-weight: 500;
    font-size: 24px;   
}
div.course_list ul li div.first p{
	 line-height: 36px;
}
div.course_list ul li div.first a{
	text-decoration: none;
    color: #fff;
}
div.course_list ul li div.soft{
	background: #5580fb;
}
div.course_list ul li div.profess{
	background: #7784a9;
}
div.course_list ul li div.language{
	background: #3faa77;
}
div.course_list ul li div.education{
	background: #5580fb;
}
div.course_list ul li div.item{
	position: relative;
}
div.course_list ul li div.item a{
	text-align: center;
    display: block;
    line-height: 40px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
div.course_list ul li div.item a:hover{
	color: #5580fb;			
}
div.course_list ul li div.item div.mask{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 145px;
    margin: 0px;
    background-color: rgba(0,0,0,.6);
    display: none;
}
div.course_list ul li div.item:hover div.mask{
	display:block;
}
div.course_list ul li div.item div.mask a.btn{
	width: 80px;
    height: 30px;
    background: #5580fb;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    margin: 10px auto;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
}
div.course_list ul li div.item div.mask p.title{
	color: #fff;
    font-size: 14px;
    padding-top: 15px;
}
div.course_list ul li div.item div.mask p{
	padding-left: 15px;
    line-height: 24px;
    color: #999;
}
/** course_list end**/

/**container start **/

div.container div.content h2{
	font-weight: 500;
    font-size: 24px;
    line-height: 70px;
    color: #666;
}
#teachers{
	height:322px;
}
#teachers ul li {
    float: left;
    width: 216px;
    height: 66px;
    margin: 30px 9px;
}
#teachers ul li a.face{
	float:left;
}
#teachers ul li dl{
	float:right;
	width: 130px;
    height: 66px;
}
#teachers ul li dl dt {
    margin-bottom: 5px;
}
#teachers ul li dl dd {
    font-size: 12px;
    color: #666;
    line-height: 22px;
}
div.container div.content {
    clear: both;
}
#students{
	height:350px;
}
#students ul li{
	width: 216px;
    height: 280px;
    margin-right: 22px;
    float: left;
    position: relative;
}
#students ul li div h3 {
    padding: 15px 0 0 20px;
    font-weight: 500;
    font-size: 18px;
}
#students ul li div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    display: none;
}
#students ul li:hover div{
	display: block;
}
#students ul li div p {
    padding: 20px;
    line-height: 26px;
	font-size:12px;
}
#students ul li div a {
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 30px;
    background: #5580fb;
    margin: 0 auto;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}
#students {
    padding-bottom: 30px;
}

#teachers, #students {
    border-bottom: 1px solid #d9dce1;
}

#links{
	height:130px;
}
#links ul li {
    float: left;
    padding: 0px 3px;
    line-height: 28px;
    color: #8e949f;
}
#links ul li a {
    padding: 0 5px;
    line-height: 30px;
    text-decoration: none;
    color: #8e949f;
    font-size: 14px;
    display: inline-block;
}
#links {
    padding-bottom: 40px;
}
/** container end **/

/*footer start*/

#footer {
    width: 100%;
    height: 410px;
    background-color: #15171f;
    color: #51555d;
    position: relative;
    text-align: center;
}
#footer div.content div.left {
    margin-top: 50px;
    float: left;
}

#footer div.content div.left dl {
    float: left;
    width: 75px;
    margin-right: 60px;
}
#footer div.content div.left dl dt {
    font-size: 18px;
    margin-bottom: 10px;
}
#footer div.content div.left dl dd a {
    text-decoration: none;
    color: #51555d;
    line-height: 34px;
    font-size: 14px;
}
#footer div.content div.left dl dd a.wb {
    margin-right: 5px;
    background-position: -227px -77px;
}
#footer div.content div.left dl dd a.icon {
    background-image: url("../images/pe_icon.png");
    background-repeat: no-repeat;
    float: left;
    width: 35px;
    height: 34px;
    display: block;
}
#footer div.content div.left dl dd a.wb:hover {
    background-position: -227px -113px;
}

#footer div.content div.left dl dd a.qq:hover {
    background-position: -265px -113px;
}


#footer div.content div.left dl dd a:hover {
    color: #fff;
}
#footer div.content div.right p.phone {
    font-size: 24px;
    color: #fff;
    margin: 10px 0px;
}
#footer div.content div.right span {
    display: block;
    color: #51555d;
    font-size: 14px;
    line-height: 24px;
}

#footer div.content div.left dl dd a.qq {
    background-position: -265px -77px;
}

#footer div.content div.right {
    margin-top: 50px;
    float: right;
    margin-right: 200px;
    text-align: center;
}

#footer div.content div.copyright {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #333740;
    font-size: 16px;
    background-color: #191b24;
}
/*footer end */