/************
   * 页面样式
  ***********/

/* ==========
    基本默认值
    ========= */

html {
    font-size: 62.5%;
    color: #222;
}
::selection {
    /*设置选中文字的背景颜色*/
    background-color: #ff0000;
    text-shadow: none;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

/* ==========
    工具样式
    ========= */

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background: transparent;
    border:none;
}

.clearfix:after,
.clearfix:before {/*before 是为了防止浏览器顶部空白的崩溃*/
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* ==========
    浏览器更新提示
    ========= */

.browerupdate {
    margin: 0;
    padding: 1rem;
    background: #ccc;
}

/* ==========
    页面自定义样式
    ========= */

body {
    font-size: 1.2rem;
    line-height: 1.2;
    background-color: #F8F7F7;
}
a {
    color: #666;
}
a:hover ,a:active {
    color: #0ae;
    text-decoration: underline;
}

/* 网站头部 */

header {
    widows:100%;
}
header .top {
    line-height: 3rem;
    padding: 0 1.5rem;
    color: #fff;
    background: #555;
    border-bottom: 1px #ecc000 solid;
}
header .top .tel {
    float: left;
}
header .top ul {
    text-align: right;
}
header .top ul li {
    display: inline-block;
}
header .top ul li+li {
    border-left: 1px solid #797979;
    margin-left: -3px;
}
header .top ul li a {
    display: inline-block;
    padding: 0 1.5rem;
    color: #fff;
    text-decoration: none;
}

header .main a.brand {
    float: left;
    padding: 1rem 1.5rem;
}
header .main ul {
    text-align: right;
}
header .main ul li {
    display: inline-block;
    border-left:1px solid #f0ede9;
}
header .main ul li a {
    display: inline-block;
    padding: 0 3rem;
    line-height: 5.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #7c7a65;
    text-decoration: none;
}

header .main ul li a:hover,
header .main ul li a:active {
    color: #ffb300;
    background: #f8f6f1;
}




/* 网站主要内容 */

.container {
    width: 100%;
}

/* 交易信息 */

.transaction {
    width: 100%;
    background: #7c7365;
}
.trans-content {
    max-width: 90%;
    margin:0 auto;
    font-size: 1.5rem;
}
.trans-data {
    float: left;
    padding: 1rem;
    text-align: left;

}
.trans-data span {
    display: inline-block;
    line-height: 3rem;
    color: #fff;
}
.trans-data span.trans-money {
    font-size: 2.2rem;
    color: #ff9900;
    letter-spacing: 3px;
    margin: 0 1rem;
    padding: 0 1rem;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
}


.trans-report {
    text-align: right;
}
.trans-report a{
    display: inline-block;
    padding: 1rem;
    line-height: 3rem;
    color: #fff;
    text-decoration: none;
}


/* 内容样式 */

.feature {
    width: 90%;
    margin: 2rem auto;
    font-size: 0;/* 去间隙 */
}
.feature .item {
    display: inline-block;
    width: calc(33.3333333333% - 3rem);
    padding: 1rem;
    font-size: 1.4rem;
    background: #fff;
    box-shadow: 0 0 4px #ccc;
}
.feature .item + .item {
    margin-left: 1.5rem;
}
.feature .item h3 {
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 0;
    font-size: 3.3rem;
    vertical-align: top;
    text-align: center;
    color: #ff9900;
}


.feature .item p {
    width: 50%;
    color: #999;
}





    /* 网站底部 */

footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    background: #EDEDED;
}
footer ul {
    text-align: center;
}
footer ul li {
    display: inline-block;
}
footer ul li .icon {
    display: inline-block;
    text-indent: -999rem;
    margin-right: 1.5rem;
    background: url("https://i.alipayobjects.com/e/201307/jebmKcbrh.png") no-repeat;
    background-size: 466px 447px;
    overflow: hidden;
}
footer ul li .icon-zfyw {
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}
footer ul li .icon-pci {
    width: 78px;
    height: 27px;
    background-position: -110px -96px;

}
footer ul li .icon-visa {
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}
footer ul li .icon-vers {
    width: 63px;
    height: 27px;
    background-position: -401px -186px;
}
footer ul li .icon-wlgs {
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

footer ul li .icon-dzsw {
    width: 75px;
    height: 27px;
    background-position: 0px -320px;
}
footer ul li .icon-bjgs {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background-size: 30px;

}
footer p {
    text-align: center;
    color: #999;
}
