/*common  start*/

ul,
h3,
p,
input,
form,
dl,
dt,
dd,
h2,
body{

	margin: 0;padding: 0;
}
body{
	font-family: "Microsoft Yahei",sans-serif;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}
i,
em{
	display: inline-block;
	font-style: normal;
}
img{
	border:none;
	vertical-align: top;
}
input{
	border:none;
	outline: none;
	background: #fff;
}
.container{
	width: 100%;
	min-width: 1226px;
}
.content{
	width: 1226px;
	margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	zoom:1;
}
.clear::after{
	content: "";
	display: block;
	clear: both;
}


@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

/*common  end*/



/*topbar  start*/

#mi-topbar{
	height: 40px;
	position: relative;
	line-height: 40px;
	color: #b0b0b0;
	font-size: 12px;
	background-color: #333; 
	
}
#mi-topbar a{
	color: #B0B0B0;
    font-size: 12px;
}
#mi-topbar a:hover{
	color: #fff;
}
#mi-topbar .sp{
	margin: 0 8px;
    color: #424242;
}
#mi-topbar .topbar-cart{
	position: relative;
	width: 120px;
	height: 100%;
	margin-left: 15px;
	color: #b0b0b0;
}
#mi-topbar .topbar-cart em{/*漂浮覆盖层*/
	position: absolute;
	top: 30px;
	left: 0px;
	width: 120px;
	height: 100%;
	border-bottom: none;
	z-index: 10;
	background: #fff;
	display: none;
}
#mi-topbar .topbar-cart .cart-menu{
	display: none;
	position: absolute;
	top: 40px;
	right: 0px;
	width: 316px;
	height: 96px;
	line-height: 96px;
	text-align: center;
	padding:15px 0 0;
	background: #fff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
	border-top:none;
	z-index: 1;
	border-top:none;	

}
#mi-topbar .topbar-cart .cart-menu p{
	color: #B0B0B0;
}
#mi-topbar .topbar-cart:hover .cart-menu{
	display: block;
}
#mi-topbar .topbar-cart:hover em{
	display: block;
}
#mi-topbar .topbar-cart a{
	height: 100%;
	line-height: 40px;
	display: block;
	text-align: center;
	background: #424242;
}
#mi-topbar .topbar-cart a:hover{
	background: #fff;
    color: #f00;
}
#mi-topbar .topbar-cart i.iconfont{
	margin-right: 2px;
}

/* topbar end */

/* header start*/ 

#header{
	height: 100px;
	border: 1px solid red;
}
#header ul{
	height: 88px;
	width: 700px;
}
#header ul li{
	float: left;
}
#header ul li a{
	display: inline-block;
	padding: 5px 10px;
	line-height: 88px;
	font-size: 16px;
	color: #333;
}
#header ul li a:hover{
	color: #f00;
}
#header .header-search{
	width: 296px;
	height: 50px;
	margin-top: 20px;
}
#header .header-search form{
	position: relative;
	width: 100%;
    position: relative;
    height: 50px;
}
#header .header-search form .btn{
	position: absolute;
	top: 0px;
	right: 1px;
	width: 52px;
	height: 50px;
	border: 1px solid #DFDFDF;
	cursor: pointer;
}
#header .header-search form .txt{
	width: 223px;
	height: 48px;
	padding: 0px 10px;
	line-height: 48px;
	border: 1px solid #DFDFDF;
}














/* header end*/ 