/*common  start*/

ul,
h3,
p,
input,
form,
dl,
dt,
dd,
h2,
body{

	margin: 0;padding: 0;
}
body{
	font-family: "Microsoft Yahei",sans-serif;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}
i,
em{
	display: inline-block;
	font-style: normal;
}
img{
	border:none;
	vertical-align: top;
}
input{
	border:none;
	outline: none;
	background: #fff;
}
.container{
	width: 100%;
	min-width: 1226px;
}
.content{
	width: 1226px;
	margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	zoom:1;
}
.clear::after{
	content: "";
	display: block;
	clear: both;
}


@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

/*common  end*/



/*topbar  start*/

#mi-topbar{
	height: 40px;
	position: relative;
	line-height: 40px;
	color: #b0b0b0;
	font-size: 12px;
	background-color: #333; 
	
}
#mi-topbar a{
	color: #B0B0B0;
    font-size: 12px;
}
#mi-topbar a:hover{
	color: #fff;
}
#mi-topbar .sp{
	margin: 0 8px;
    color: #424242;
}
#mi-topbar .topbar-cart{
	position: relative;
	width: 120px;
	height: 100%;
	margin-left: 15px;
	color: #b0b0b0;
}
#mi-topbar .topbar-cart em{/*漂浮覆盖层*/
	position: absolute;
	top: 30px;
	left: 0px;
	width: 120px;
	height: 100%;
	border-bottom: none;
	z-index: 10;
	background: #fff;
	display: none;
}
#mi-topbar .topbar-cart .cart-menu{
	display: none;
	position: absolute;
	top: 41px;
	right: 0px;
	width: 316px;
	height: 82px;
	line-height: 96px;
	text-align: center;
	padding:15px 0 0;
	background: #fff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
	border-top:none;
	z-index: 1;
	border-top:none;	

}
#mi-topbar .topbar-cart .cart-menu p{
	color: #B0B0B0;
}

#mi-topbar .topbar-cart:hover em{
	display: block;
}
#mi-topbar .topbar-cart a{
	height: 100%;
	line-height: 40px;
	display: block;
	text-align: center;
	background: #424242;
}
#mi-topbar .topbar-cart a:hover{
	background: #fff;
    color: #f00;
}
#mi-topbar .topbar-cart i.iconfont{
	margin-right: 2px;
}

/* topbar end */

/* header start*/ 

#header{
	height: 100px;
	position: relative;
}
.on{
	border-bottom: 1px solid #ddd;
}
#header ul{
	height: 88px;
	width: 700px;
}
#header ul li{
	float: left;
}
#header ul li a{
	display: inline-block;
	padding: 5px 10px;
	line-height: 88px;
	font-size: 16px;
	color: #333;
}
#header ul li a:hover{
	color: #f00;
}
#header .header-search{
	width: 296px;
	height: 50px;
	margin-top: 20px;
}

#header .header-search form{
	position: relative;
	width: 100%;
    position: relative;
    height: 50px;
}
#header .header-search form .btn{
	position: absolute;
	top: 0px;
	right: 1px;
	width: 52px;
	height: 50px;
	cursor: pointer;
	transition:all 0.8s ease 0s;
}
#header .header-search form .btn:hover{
	background: #ff6700;
    color: #fff;

}
#header .header-search form p.hot-keyword a:hover{
	background: #ff6700;
    color: #fff;

}
#header .header-search form p.hot-keyword{
	position: absolute;
	top: 15px;
	right: 57px;
	font-size: 14px;
	
}
#header .header-search form p.hot-keyword a{
	padding: 1px 3px;
    color: #333;
    display: inline-block;
    background: #F3F3F3;
    margin-right: 5px;
}
#header .header-search form .txt{
	width: 223px;
	height: 48px;
	padding: 0px 10px;
	line-height: 48px;
	
}
#header .header-search form .border{
	border: 1px solid #DFDFDF;
}
#header .header-search .on{
	border: 1px solid red;
}
#header .header-search form ol.show-list{
	position: absolute;
	top: 34px;
	left: 0px;
	width: 202px;
	border: 1px solid red;
	border-top: none;
	display: none;
	z-index: 99;
	background: #fff;
}
#header .header-search form ol.show-list li{
	margin-left: -40px;
}
#header .header-search form ol.show-list li:hover{
	background: #F3F3F3;
}

#header .header-search form ol.show-list li a{
	position: relative;
	display: block;
	padding: 6px 14px;
    font-size: 12px;
    color: #424242;

}
#header .header-search form ol.show-list li a span{
	position: absolute;
	right: 11px;
	top: 6px;
	color: #b0b0b0;
}

#header .header-details ol img{
	width: 160px;
	height: 110px;
}

#header .header-details ol li {
	position: absolute;
	top: 100px;
	left: 0px;
	display: none;
	z-index: 60;
}
#header .header-details ol li dl{
	float: left;
	padding: 35px 12px 0;
	width: 180px;
	height: 166px;
	
}

#header .header-details ol li dl dt{
	border-right: 1px solid #ccc;
    position: relative;
    left: 6px;
	
}
#header .header-details ol li dl dt.last{
	border-right: none;
}
#header .header-details ol li dl dd{
    position: relative;
    top: -7px;
    left: 40px;
    margin-top: -33px;
}
#header .header-details ol li dl dd a{
	font-size: 14px;
}
#header .header-details ol li dl dd a:hover{
	color:#333;
}
#header .header-details ol li dl dd span{
	font-size: 14px;
	margin-left: 3px;
	color: #ff6700;
}
#header .detail-bg{
	position: absolute;
	top: 101px;
	left: 0;
	background: #fff;
	z-index: 30;
	height: 230px;
	width: 100%;
	box-shadow: 0 0 3px #ccc;
	display: none;
}

/* header end*/ 


/* banner start */

#banner {
	height: 460px;
	position: relative;
}
#banner .banner-aside,#banner .banner-pic{
	height: 460px;
    position: absolute;
    top: 0;
   
}
#banner .banner-pic{
	 overflow: hidden;
}
#banner .banner-aside{    
	background: rgba(0,0,0,0.6);
	width: 234px;
	z-index: 5;
	position: relative;
}
#banner .banner-aside ul{
	width: 100%;
	height: 420px;
	padding: 20px 0;
}
#banner .banner-aside ul li.item{
	width: 100%;
	height: 42px;
	
}
#banner .banner-aside ul li.item:hover{
	background: #FF6700;
}
#banner .banner-aside ul li.item div.children{
	position: absolute;
	top: 0;
	left: 234px;
	z-index: 90;
	height: 460px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.180392) 0px 8px 16px;
	display: none;
}

#banner .banner-aside .children-list {
    float: left;
    width: 265px;
}
#banner .banner-aside .children-list li {
    position: relative;
    top: -18px;
    float: left;
    width: 265px;
    height: 76px;
}
#banner .banner-aside .children-list li a{
	color: rgb(51, 51, 51);
	transition: color 0.2s ease 0s;
	font-size: 14px;
}
#banner .banner-aside .children-list li a:hover{
	color: rgb(255, 103, 0);
}
#banner .banner-aside .children-list li a.link {
	width: 170px;
	padding: 18px 0 18px 20px;
	display: inline-block;
	margin-top: 3px;
}
#banner .banner-aside .children-list li a.link img{
	margin-right: 12px;
    vertical-align: middle;
    position: absolute;
    left: 0;
}
#banner .banner-aside .children-list li a.sel-buy{
	position: absolute;
    right: 10px;
    top: 26px;
    width: 58px;
    height: 22px;
    line-height: 22px;
    border: 1px solid rgb(242, 88, 7);
    text-align: center;
    color: rgb(242, 88, 7);
}
#banner .banner-aside .children-list li a.sel-buy:hover{
	color: rgb(255, 255, 255);
    background-color: rgb(242, 88, 7);
    border-color: rgb(242, 88, 7);
}
#banner .banner-aside .children-list li a.link span.txt{
	line-height: 40px;
}
#banner .banner-aside  .col-1{
	width: 265px;
}
#banner .banner-aside ul .col-list-1{
	// background: #bbb;
	width: 265px;
	height: 420px;
}
#banner .banner-aside   .col-2{
	width: 530px;
}
#banner .banner-aside ul .col-list-2{
	// background: pink;
	width: 265px;
	height: 420px;
}
#banner .banner-aside   .col-3{
	width: 795px;
}
#banner .banner-aside ul .col-list-3{
	// background: yellow;
	width: 265px;
	height: 420px;
}


#banner .banner-aside ul li.item .title{
	color:#fff;
	padding-left: 30px;
    height: 42px;
    line-height: 42px;
    display: block;
    position: relative;
    font-size: 14px;
}
#banner .banner-aside ul li.item .title i{
	position: absolute;
    top: 12px;
    right: 20px;
    color: rgba(255,255,255,0.6);
    font-size: 16px;
    line-height: 16px;
}
#banner .banner-wrap .btn{
	position: absolute;
	top: 50%;
	width: 41px;
	height: 69px;
	margin-top: -14px;
	background: url("../images/icon-slides.png") no-repeat;
	z-index: 4;
}
#banner .banner-wrap .prev{
	background-position: -84px 50%;
	left: 271px;
}
#banner .banner-wrap .prev:hover{
	background-position: 0 50%;
}
#banner .banner-wrap .next{
	background-position: -125px 50%;
	right: 36px;
}
#banner .banner-wrap .next:hover{
	background-position: -42px 50%;
}
#banner .banner-wrap ol{
	position: absolute;
    right: 40px;
    bottom: 10px;
    z-index: 40;
}

#banner .banner-wrap ol li {
    width: 6px;
    height: 6px;
    float: left;
    margin-right: 14px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: rgba(0, 0, 0 ,0.3);
    transition: all 0.3s ease 0s;
}
#banner .banner-wrap ol li.active,#banner .banner-wrap ol li:hover{
	background: #fff;
}
/* banner end*/