#goods .goodsCon {
	margin-top: 30px;
	height: 550px;
	
}
#goods .goodsCon .goodsL{
	width: 38%;
	height: 550px;
	float: left;

}
#goods .goodsCon .goodsL .simg {
	width: 450px;
    height: 450px;
    position: relative;
}
#goods .goodsCon .goodsL .simg span.move{
	width: 80px;
    height: 100px;
    border: 1px solid #000;
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    background: #fff;
}
#goods .goodsCon .goodsL .simg span.shade{
	width: 450px;
    height: 450px;
    background: red;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0.3;
}
#goods .goodsCon .goodsL .simg img {
    width: 450px;
    height: 450px;
    margin-left: 3px;
}

#goods .goodsCon .goodsL .btn {
	width: 450px;
	height: 80px;
	margin-top: 10px;
}

#goods .goodsCon .goodsL .btn img{
	float: left;
	width: 64px;
	border: 2px solid #ddd;
	margin: 0 10px;
}

#goods .goodsCon .goodsL .btn img.active {
	border: 2px solid #CF2050;
}



#goods .goodsCon .goodsR{
	width: 58%;
	float: right;
}

#goods .goodsCon .goodsR dl dt{
	font-size: 18px;
	font-weight: bold;
	padding:15px 0 10px;
}

#goods .goodsCon .goodsR dl dd {
	margin: 12px 0 12px;
}
#goods .goodsCon .goodsR dl dd span.storage {
	
	margin-left: 100px;

}

#goods .goodsCon .goodsR dl dd span.weight {
	
	margin-left: 151px;

}
#goods .goodsCon .goodsR dl dd span.price {
	font-size: 16px;
	color: #F42760;
	padding: 2px 5px 2px 0;
	
}
#goods .goodsCon .goodsR dl dd.three {
	border-bottom: 1px  dotted #ccc;
	padding-bottom: 10px;
}

#goods .goodsCon .goodsR dl dd.third {
	width: 380px;
	height: 160px;
	padding: 8px;
	background-color: #F8F7F7;
}
#goods .goodsCon .goodsR dl dd.third p.ti {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
#goods .goodsCon .goodsR dl dd.third p{
	text-align: center;
}
#goods .goodsCon .goodsR dl dd.third .info {
	width: 362px;
	height: 64px;
	border: 1px solid #ddd;
	margin-top: 10px;
}
#goods .goodsCon .goodsR dl dd.third span.con {
    margin: 0 91px 10px 31px;
}

#goods .goodsCon .goodsR dl dd.third .info p.num-info {
	text-align: center;
	margin-left: -40px;
	margin-top: 10px;

}

#goods .goodsCon .goodsR dl dd.third .info p.num-info span {
	margin: 0 70px;
	color: #F42760;
}
#goods .goodsCon .goodsR dl dd p.sum {
	margin-top: 10px;
	text-align: right;
	margin-right: 14px;
}
#goods .goodsCon .goodsR dl dd p.sum span{
	color: #F42760;
	font-size: 18px;
	padding: 0 3px;
}

#goods .goodsCon .goodsR dl dd input.num {
	width: 50px;
	height: 20px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #ddd;
	padding-left: 5px;
	margin: 0 50px 5px 10px;
}

#goods .goodsCon .goodsR dl dd.color {
	height: 50px;
	background-color: #F8F7F7;
	line-height: 50px;
}
#goods .goodsCon .goodsR dl dd.color span.color {
	font-size: 16px;
	font-weight: 500;
	padding-left: 5px;
	
}
#goods .goodsCon .goodsR dl dd.color input.colorType {
	margin: 0 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}
#goods .goodsCon .goodsR dl dd.color p label{
	margin-left: -17px;
}
#goods .goodsCon .goodsR dl dd.cat a.btn {
	height: 36px;
	display: inline-block;
	border-radius: 3px;
	margin-top: 20px;
}
#goods .goodsCon .goodsR dl dd.cat a.btn1 {
	width: 160px;
	margin-right: 20px;
	background: url(../images/Webcar.png) center no-repeat;
}
#goods .goodsCon .goodsR dl dd.cat a.btn2 {
	width: 110px;
	background: url(../images/Websc.png) center no-repeat;
}

#goods .goodsHot h3{
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	border-bottom: 1px solid #ddd;
	color: #FD0031;
	font-size: 18px;
}
#goods .goodsHot {
	height: 310px;
	margin: 60px auto;
	border: 1px solid #ddd
}
#goods .goodsHot dl{
	width: 180px;
	height: 250px;
	border-radius: 3px;
	padding: 3px;
	float: left;
	margin-right: 30px;
}
#goods .goodsHot dl.list-1{
	margin-left: 50px;
}
#goods .goodsHot dl dt a img{
	width: 170px;
	height: 170px;
	padding: 3px;
}
#goods .goodsHot dl dd{
	line-height: 35px;
	text-align: center;
}
#goods .goodsHot dl dd span{
    display: inline-block;
    width: 80px;
    line-height: 21px;
    height: 21px;
    padding: 2px;
    margin: 5px 0;
}
#goods .goodsHot dl dd span.price {
	background-color: #626262;
    color: #fff;
}
#goods .goodsHot dl dd span.buy {
	background-color: #F42760;
    color: #fff;
    margin-left: -4px;
}
#goods .goodsDetails ul.ti{
	height: 50px;
	border-bottom: 1px solid #F42760;
} 
#goods .goodsDetails ul.ti li {
	float: left;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 0 18px;
	margin-right: 10px;
	position: relative;
}

#goods .goodsDetails ul.ti li.active {
	border-top:2px solid #FD0031;
	border-right: 1px solid #FD0031;
	border-left: 1px solid #FD0031;
    margin-top: -1px;
}
#goods .goodsDetails ul.ti li span {
    position: absolute;
    top: 35px;
    left: 0;
    width: 136px;
    height: 20px;
    background-color: #fff;
}
#goods .goodsDetails .goodsDetailsCon {
	height: 600px;
	margin-top: 10px;
	border: 1px solid red;
}
