.container {
  width: 100%;
  min-width: 1200px;
}
.content {
  width: 1200px;
  margin: 0 auto;
}

/* g-top start */

#topbar div.top{
	height: 100px;
	position: relative;
}
#topbar a.adv{
	display: block;
	height: 100px;
	background-image: url(../images/advbg.png);
	text-align: center;
}
#topbar img.close {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
#header .content{
	width: 1000px;
	height: 70px;
	margin-top: 30px;
}
#header h1.logo{
	float: left;
	width: 220px;
	height: 70px;
}
#header form.search{
	position: relative;
	width: 360px;
	height: 70px;
	float: left;
}
#header input.txt {
	width: 310px;
	height: 38px;
    border: 1px solid #ddd;
    outline: none;
    text-indent: 10px;
	
}
#header input.btn {
	width: 42px;
	height: 40px;
	border: 0;
	background-image: url("../images/ser_but.png");
	position: absolute;
	left: 312px;
}

#header .user{
	width: 410px;
	height: 70px;
	float: right;
	text-align: right;
	font-family: "microsoft yahei";
	font-size: 13px;
	line-height: 39px;
}
#header .user a{
    text-decoration: none;
}
#header .user span a{
	color:#ed145b;
	margin: 0 10px;

}
#header .user a:hover{
	color:#ed145b;
}
#header .user a i.iconfont{
	color: #ED145B;
	margin-right: 10px;
	font-size: 16px;
}

.gd{
	position: fixed;
	top: 0;
	left: 0;
}
#nav {
	height:50px;
	background-color: #000;
}
#nav ul{
	width: 1200px;
    height: 50px;
    position: relative;
}
#nav ul li{
	float: left;
	height: 50px;
	line-height: 50px;
	color: rgb(255, 255, 255);
	text-align: center;
}
#nav ul li.first{
	width: 190px;
	background: #f42760;
}
#nav ul li.last{
	display: none;
	height: 50px;
	width: 100px;
	background: green;
	position: absolute;
	left:190px;
	z-index:2;
}
#nav ul li a.items{
    position: relative;
	display: block;
	padding: 0 30px;
	color: #fff;
	z-index: 10;
	
}
#nav ul li.first i.iconfont {
	margin-right: 10px;
	color: #fff;
    font-size: 18px;
}


#banner {
	height: 419px;
	background-image: url(../images/timeGo.png);
}
#banner .PartCon{
	position: relative;
}

#banner .leftMenu{
	width: 190px;
	height: 420px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}

#banner .leftMenu ol li .moreNav{
	width: 200px;
    height: 300px;
    position: absolute;
    left: 190px;
    top: -1px;
    border: 1px solid #666;
    display: none;
}
#banner .leftMenu ol li .border_top{
	width:100%;
	height:1px; 
	background:#666; 
	position:absolute;
	left:0px;
	top:-1px; 
	display:none;
}
#banner .leftMenu ol li .border_bottom{
	width: 100%;
    height: 1px;
    background: #666;
    position: absolute;
    left: 0px;
    bottom: -1px;
    display: none;
}
#banner .leftMenu ol li .border_right{
	height: 69px;
    width: 1px;
    background: #000;
    position: absolute;
    right: -1px;
    top: 0px;
    display: none;
}
#banner .leftMenu ol li.hover .moreNav,
#banner .leftMenu ol li.hover .border_top,
#banner .leftMenu ol li.hover .border_right,
#banner .leftMenu ol li.hover .border_bottom {
	display:block;
}

#banner ol li{
	height: 69px;
    width: 100%;
    position: relative;
    line-height: 30px;
    text-align: left;
    border-bottom: 1px solid #1c1c1c;
}
#banner ol li dl{
	width: 100%;
	height: 69px;
}
#banner ol li dl dt{
    color: #f42760;
    font-weight: 100;
    text-indent: 15px;
}
#banner ol li dl dd{
    padding: 0 0px 0 17px;
    float: left;
}
#banner ol li dl dd a{
	color: #97a3a3;
    font-size: 12px;
}
#banner ol li dl dd a:hover{
    color: #f42760;
}
#banner .flash{
	width: 820px;
	height: 419px;
	float: left;
	overflow: hidden;
    margin-left: 190px;
    position: relative;
}
#banner .flash ul.scroll{
	width: 1000%;


}
#banner .flash ul.scroll li{
	float: left;


}
#banner .PartCon a.btn {
	width: 71px;
	height: 71px;
	display: block;
	position: absolute;
	top: 175px;
	z-index: 99;
	display: none;
}

#banner .PartCon a.prev{
    left: 152px;
    background: url(../images/but.png) -71px 0px;	
}
#banner .PartCon a.prev:hover{
    background-position: 0px 0px;
}

#banner .PartCon a.next{
	right: 160px;
    background: url(../images/but.png) -71px -71px;
}
#banner .PartCon a.next:hover{
    background-position: 0px -71px;
}

#banner ul.smallDot{
	width:135px;
	height: 20px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 527px;
    padding-left: 23px;
    bottom: -402px;
    border-radius: 20px;
	text-align: center;
	
}

#banner ul.smallDot li{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #666;
	float: left;
	margin-right: 10px;
	margin-top:4px;
	cursor: pointer;
}

#banner ul.smallDot li.active{
	background: #f09;
}


#banner .news{
	width: 190px;
	height: 419px;
	float: left;
}

#banner .news .newsOpacity{
	width: 190px;
    height: 419px;
    background: #0a0202;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
}
#banner .news .newsCon{
	position: absolute;
    width: 190px;
    height: 419px;
    top: 0px;
    right: 0px;
    color: #fff;
}
#banner .news .newsCon h3{
	height: 43px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 43px;
    text-indent: 20px;
    font-family: 微软雅黑;
    font-weight: 100;
    background: rgb(48, 6, 12);
}
#banner .news .newsCon ul{
	padding: 10px 10px 15px 10px;
}
#banner .news .newsCon ul li{
	font-size: 12px;
    color: rgb(255, 255, 255);
    font-family: 微软雅黑;
    line-height: 30px;
}
#banner .news .newsCon ul.news-bg li{
    background: #692125;
    margin-bottom: 5px;
}
#banner .news .newsCon ul li a{
	color:#fff;
}
#banner .news .newsCon ul li span a,#banner .news .newsCon ul li span{
	color:#cf2050;
}
