*{
	margin:0;
	padding:0;
	font-family:"Microsoft Yahei";
}

html,
body{
	width:100%;
	height:100%;
}


/*common style start*/
div.content{
	width:1200px;
	margin:0 auto;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}


/*common style end*/


/* nav style start*/

#nav{
	width:100%;
	height:70px;
	line-height:70px;
	background-color:#15171F;
	min-width:1200px;/*最小分辨率不低于1200px*/
}

#nav div.content{
	height:100%;
	color:#fff;
}

#nav div.content img.logo{
	float:left;
	margin-top:16px;
	margin-right:80px;
}


#nav div.content ul.menu li{
	float:left;

}

#nav div.content ul li a{
	color:#fff;
	font-size:14px;
	padding:0 20px;
	margin:0 5px;
	height:100%;
	display:block;
	position:relative;
}

#nav div.content div.msg{
	height: 100%;
    padding: 0px 20px;
    margin: 0px 5px;
    float: right;
}
#nav div.content div.msg a.email{
	width: 22px;
    height: 16px;
    display: block;
    background-image: url("../images/pe_icon.png");
    background-repeat: no-repeat;
    background-position: -368px -23px;
    margin: 26px auto;
    position: relative;
}
#nav div.content div.msg a.email em{
	width:7px;
	height:7px;
	position:absolute;
	top:-5px;
	right:-5px;
	border-radius:5px;
	border: 1px solid #fff;
	background-color:#ff0000;
}

#nav div.content ul li a:hover{
	background-color:#323744;
}
#nav div.content div.msg:hover{
	background-color:#323744;
}

#nav div.content ul.info{
	float:right;
	height: 100%;
}



#nav div.content  ul.info li a img.face{
	border-radius: 30px;
	position: relative;
    top: 10px;
}

#nav div.content form div input{
	height: 30px;
    border: 1px solid #323744;
    background-color: #323744;
    border-radius: 2px;
    margin-top: 18px;
    padding-left: 10px;
    color: #fff;
    padding-right: 35px;
}
#nav div.content form div input:hover {
    border: 1px solid #818997;
}
#nav div.content form div {
    float: right;
    margin-right: 20px;
    position: relative;
}
#nav div.content form div a {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 1px;
    top: 19px;
    background-image: url("../images/pe_icon.png");
    background-position: -365px 6px;
}
/* nav style end*/

/* banner start */

#banner{
	width:100%;
	height:375px;
	background-image:url("../images/banner.jpg");
	background-position:center;
	background-repeat:no-repeat;
	min-width:1200px;/*分辨率最低1200px*/

}
/* banner end */


/*cat start*/

div.cat{
	width:100%:
	background-color:#fff;
	height:110px;
	border-bottom: 1px solid #d9dce1;
}
div.cat div.content dl{
	width:216px;
	height:80px;
	float:left;
	margin-left:20px;
	margin-top:12px;
	border-right: 1px solid #d9dce1;
	
}
div.cat div.content dl.last{
	border-right:none;
}
div.cat div.content dl dd{
	float:left;
	margin-right:20px;
}

div.cat div.content dl dt{
	font-size:18px;
	color: #5580fb;
    font-weight: 500;
    line-height: 36px;
}
div.cat div.content dl dd a{
	color: #333;
    text-decoration: none;
    line-height: 20px;
	font-size:12px;
}
div.cat div.content dl dd a:hover{
    color: #5580fb;
}
/*cat end*/

/** course_list start**/

div.course_list{
}
div.course_list ul li{
	width:100%;
	margin-top:20px;
	float:left;
	border-bottom:1px solid #d9dce1;
}
div.course_list ul li div{
	width:222px;
	height:185px;
	margin:0 7px 20px 7px;
	float:left;
}
div.course_list ul li div.first{
	
	text-align: center;
    color: #fff;
    font-size: 14px;
}
div.course_list ul li div.first h2{
	padding-top: 50px;
    font-weight: 500;
    font-size: 24px;   
}
div.course_list ul li div.first p{
	 line-height: 36px;
}
div.course_list ul li div.first a{
	text-decoration: none;
    color: #fff;
}
div.course_list ul li div.soft{
	background: #5580fb;
}
div.course_list ul li div.profess{
	background: #7784a9;
}
div.course_list ul li div.language{
	background: #3faa77;
}
div.course_list ul li div.education{
	background: #5580fb;
}
div.course_list ul li div.item{
	position: relative;
}
div.course_list ul li div.item a{
	text-align: center;
    display: block;
    line-height: 40px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
div.course_list ul li div.item a:hover{
	color: #5580fb;			
}
div.course_list ul li div.item div.mask{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 145px;
    margin: 0px;
    background-color: rgba(0,0,0,.6);
    display: none;
}
div.course_list ul li div.item:hover div.mask{
	display:block;
}
div.course_list ul li div.item div.mask a.btn{
	width: 80px;
    height: 30px;
    background: #5580fb;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    margin: 10px auto;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
}
div.course_list ul li div.item div.mask p.title{
	color: #fff;
    font-size: 14px;
    padding-top: 15px;
}
div.course_list ul li div.item div.mask p{
	padding-left: 15px;
    line-height: 24px;
    color: #999;
}
/** course_list end**/