
input{
	padding-left: 10px;
}
#login .content{
	width: 1000px;
	height: 600px;
	margin: 30px auto;
    box-shadow: 0px 0px 10px #666;
    background: #f2f2f2;
}
#login .content p.ti {
	width: 807px;
	height: 37px;
	margin: 0 auto;
	padding-top: 40px;
}
#login .content p.ti span{
    display: inline-block;
    float: left;
    width: 400px;
    height: 37px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
}
#login .content p.ti span.active{
	border-bottom: 2px solid #6699ff;
}
#login .content .LgRegCon{
	height: 470px;
	margin-top: 50px;
	padding-left: 100px;
	padding-right: 100px;

}
#login .content .LgRegCon .Lg{
	display: block;
}
#login .content .LgRegCon .Reg{
	display: none;
}
 .con p{
	margin-top: 20px;
	margin-left: 20px;
}
#login .content .LgRegCon .con p.ch{
	padding-left: 90px;
}
#login .content .LgRegCon .con p.txt{
	margin-top: 30px;
	padding-left: 100px;
}
#login .content .LgRegCon .con p.txt .btn{
    width: 120px;
    height: 38px;
    display: inline-block;
    margin-right: 45px;
    font-size: 14px;
    background-color: #ff6699;
    color: #fff;
    border-radius: 3px;
    line-height: 37px;
    text-align: center;
    border: none;
}
#login .content .LgRegCon .Lg p.txt a.btn1{
	background: #ff9900;
}
#login .content .LgRegCon .Lg p.txt a{
	line-height: 20px;
}
.content .LgRegCon .Lg p.ch label{
	margin-left: 10px;

}
#login .content .LgRegCon .con {
	position: relative;
}
#login .content .LgRegCon .con input.txt{
	width: 300px;
	height: 40px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
}
.con span{
	display: inline-block;
	width: 80px;
	height: 19px;
	margin-right: 10px;
	text-align: right;
	font-size: 14px;
}
#login .content .LgRegCon .Lg p a.forgotpwd{
	color: #36A2DC;
	font-size: 12px;
	margin-left: 101px;
}
.content .LgRegCon .Reg label{
		margin-left: 10px;
		text-align: left;
    display: inline-block;
    font-size: 12px;
}

/* 密码强度改变的样式 */

p.pwdColor span.co1 {
	background:#f00;
}
p.pwdColor span.co2 {
	background:#00ff66;
}

p.pwdColor span.co3 {
	background:#0033cc;
}
p.pwdColor {
	position: absolute;
	top: 166px;
	left: 77px;
	width: 271px;
	height: 5px;
	margin-top: 6px;
	margin-left: 53px;
}
.pwdColor span {
	float: left;
	margin-right: 10px;
	background: #ccc;
	height: 5px;
}
.tips{
	color:red;
}
i.xh {
	width: 3px;
	height: 2px;
	display: inline-block;
	margin-right: 7px;
	font-size: 12px;
	color:red;
}
i.xh.last {
	padding-left: 10px;
}
.repwd_tips{
		color:red;
}
#repwd_tips {
	display: none;
}
